@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    src: url(./NotoSansCJKkr-Bold.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansCJKkr-Light';
    src: url(./NotoSansCJKkr-Light.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSansCJKkr-Medium';
    src: url(./NotoSansCJKkr-Medium.otf) format('opentype');
    font-weight: 500;
}